.fondo{
  background-image: url(../../images/fondo.jpg);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 0px;
  min-height: 75vh
}

.loading{
  margin: auto;
}
  
  .flexContainer > div {
    width: 20%;
    text-align: center;
    margin: 10px auto;
  }

  @media screen and (max-width: 1100px) {
    .flexContainer > div {
      width: 30%;
      text-align: center;
      margin: 10px auto;
    }
  }

  @media screen and (max-width: 700px) {
    .flexContainer > div {
      width: 40%;
      text-align: center;
      margin: 10px auto;
    }
  }

  @media screen and (max-width: 580px) {
    .flexContainer > div {
      width: 80%;
      text-align: center;
      margin: 10px auto;
    }
  }